h1 {
	font-family: 'Dancing Script', cursive;
}

#name {
	background-color: black;
	opacity: 0.87;
	color: white;
	text-align: center;
	font-family: 'Georgia', sans-serif;
	letter-spacing: 1.5px;
	width: 400px auto;
	font-size: 12px;
	line-height: 150%;
	margin: 50px;
	padding-top: 50px;
	padding-bottom: 35px;
	padding-left: 50px;
	padding-right: 50px;

}

body {
  background-image: url("bar.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0px;
  background-color: #000000;
  color: #ffffff;
}

hr {
	width: 75px;
}